*.class
*.log

.classpath
.cache

bin/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

genometools-development.zip
/test*
/.cache-main
